
.container {
    display: flex;
}

#containerForm {
    width: 30%;
    padding: 10px;
    box-sizing: border-box;
}
#containerCodPreview{
    width: 70%;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}
.content {
    display: none;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
}

.active {
    display: block;
}
#containerCod{
    width: 70%;
    padding: 10px;
    box-sizing: border-box;
}
#btGerarCod{
    height: 50px;

}

#altura, #largura {
    width: 40px;
}

#pagina {
    width: 100%;
    height: 100%;
}
