body {
    background-color: black;
}

.text-center {
    color: white;
    padding-bottom: 15px;
}

.col-md-6 {
    color: black;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    border: 10px solid black;
    margin-bottom: 50px;
}

h1 {
    color: white;
}

.arqHTML{
    margin-top: 35px;
}

::placeholder {
    color: black;
    font-weight: bold;
    font-size: 14px;
}

#corFonte,
#links,
#tamFonte {
    margin-bottom: 25px;
}

.container {
    padding: 20px;
}

h2 {
    color: white;
}

.code-html {
    margin-bottom: 40px;
}

input.form-control,
select.form-control {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

button.btn.btn-primary {
    margin-top: 0px;
}

#linksContainer .form-control {
    flex: 1;
    margin-right: 10px;
}

#linksContainer .btn {
    flex: 0 0 auto;
}

select.form-control:hover {
    background-color: white; 
}

.hoverLinks{
    margin-top: 35px;
}

#conteudo {
    color: black;
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    border: 10px solid black;
    margin-bottom: 30px;
}

#conteudo h1{
    color: black;
    font-size: 35px;
}

#txtConteudo{
    border: 1px solid black;
}



#geraCode{
    margin-top: 25px;
}

#containerPreview{
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    box-sizing: border-box;
    position: relative;
}

.content{
    display: none;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
}

.contentActive{
    display: block;
}

#containerCod{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

#pagina {
    width: 100%;
    height: 700px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: white;
}
